# Dash App

## Import

In [2]:
import dash
from dash import Dash, html, dcc
import plotly.express as px

import pandas as pd

## Load_Data

In [6]:
temp = pd.read_csv("fact_table.csv",index_col=None)

In [7]:
temp

,Unnamed: 0,id_product,id_localisation,id_temps,sales,mean_score_critic,mean_score_user
0,0,49167,1,1,41.49,76,8.0
1,1,73907,1,1,11.38,89,8.5
2,2,33576,1,1,14.03,58,6.6
3,3,54312,1,1,6.42,72,7.5
4,4,70689,1,1,3.83,95,9.0
...,...,...,...,...,...,...,...
82410,82410,67969,4,40,0.00,72,7.5
82411,82411,87321,4,40,0.00,72,7.5
82412,82412,49185,5,40,0.03,72,7.5
82413,82413,67969,5,40,0.01,72,7.5
82414,82414,87321,5,40,0.01,72,7.5

In [11]:
temp = common_data[["Publisher","Global_Sales"]].groupby("Publisher").sum().reset_index()
temp.sort_values("Global_Sales",ascending=False,inplace=True)

NameError: name 'common_data' is not defined

## App layout

In [12]:
app = Dash()

In [8]:
fig = px.bar(temp.iloc[:20], 
             x="Publisher", 
             y="Global_Sales")

app.layout = html.Div(children=[
    html.H1(children='Video Games Analysis'),
    dcc.Graph(
        id='example-graph',
        figure=fig
    )
])

NameError: name 'temp' is not defined

## App callback

## App run

In [ ]:
app.run_server(debug=False)